#projectContainer {
    width: 100vw;
    min-height: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;    
    background-color: #141414;
    padding: 2em;
}

#projectText {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    font-weight: 900;
    color: #cb4335;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    text-align: center;
}

#textRow {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#title {
    font-family: 'Raleway', sans-serif;
    color:#141414;
    min-height: 50px;
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 0em;
    margin-bottom: 0em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cardCol {
    display: flex;
    justify-content: center;
}

#card {
    width: 20rem;
    min-height: 26rem;
    margin: 1.5em;
    padding: 0em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;
}

#descDiv {
    width: 100%;
    min-height: 15vh;
}

#buttonDiv {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#card:hover {
    transform: scale(1.1);
}


#stack {
    text-align: center;
}

#projectImage:hover {
    cursor: pointer;
}



#icon {
    margin-top: 0.2em;
}